02___Project_1___RAG_Pipeline_and_Chatbot.json
{
  "name": "03 - Project 1 - RAG Pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1IHJkBr0aMg1Z_DzryczodSTXaP9M_FLY",
          "mode": "list",
          "cachedResultName": "Corvit Labs FAQS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1IHJkBr0aMg1Z_DzryczodSTXaP9M_FLY"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0a41ec1b-1864-4d43-bf5d-ad44a269b039",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K8FerFGhFZsmZFzA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "1ee72aae-0b87-4744-9278-4cc2c642e099",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K8FerFGhFZsmZFzA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-project",
          "mode": "list",
          "cachedResultName": "n8n-project"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "3b5338e3-674d-4034-b7ef-64aa0a0a28bb",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qHL8rrJn6u0PoAXy",
          "name": "Pinecone_API_KEY"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        220
      ],
      "id": "fd9fcfab-29ff-4bae-a9df-70776631563a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "AkPrMpa92kO68Neo",
          "name": "OPENAI_API_KEY"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        680,
        220
      ],
      "id": "cc55fa15-285d-4e1b-bd82-ad7002df6653",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        780,
        380
      ],
      "id": "aca808ad-0762-43e5-8387-8a66c20a5281",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1140,
        0
      ],
      "id": "33ca0497-e6a9-4f63-a169-d0e470d03fb3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        920,
        0
      ],
      "id": "6316177c-df0a-424f-b45f-99618b820f71",
      "name": "When chat message received",
      "webhookId": "10d7bdd5-d4e0-458d-be08-c19bdd3ec0ef"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        220
      ],
      "id": "0d889a40-9656-4ce0-84bf-6044f62b3b27",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AkPrMpa92kO68Neo",
          "name": "OPENAI_API_KEY"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-project",
          "mode": "list",
          "cachedResultName": "n8n-project"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        1360,
        220
      ],
      "id": "b207cea3-f738-4446-9877-0db1b5443549",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "qHL8rrJn6u0PoAXy",
          "name": "Pinecone_API_KEY"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        400
      ],
      "id": "8332844c-23b6-4f6b-a9e5-28b15e457da7",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "AkPrMpa92kO68Neo",
          "name": "OPENAI_API_KEY"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5930547-4ee1-430b-9f3f-9c7f645efd94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab598dfc6bfcad18d1f0b1a8c8d051f80afd144e7f086a6feebd976bccf23369"
  },
  "id": "a7l0ZSHQmp6CZlwF",
  "tags": []
}